.container {
  border: 1px solid #333;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  gap: 15px;
  background: #202020;
  opacity: 0.8;
  
  button {
    height: 30px;
    width: 30px;
  }
}

.actionsContainer {
  // width: 300px;
  display: flex;
  overflow: hidden;
}

.actions {
  height: 100%;
  display: flex;
  align-items: center;
  color: #666;

  div {
    padding: 0 5px;
    cursor: pointer;

    &:hover {
      color: #aaa;
    }
  }
}

.current {
  color: #aaa;
}