.container0,
.container1,
.container2,
.container3,
.container4,
.container5 {
  position: absolute;
  // height: 30px;
  // width: 30px;
  border: 1px solid #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  // font-size: 14px;
  color: #bbb;
  background: #181818;
  user-select: none;
}


$h1: 5%;
$v1: 26%;

$h2: 18%;
$v2: 5%;

.container0 {
  bottom: 3%;
  left: 37%;
}

.container1 {
  bottom: $v1;
  left: $h1;
}

.container2 {
  top: $v2;
  left: $h2;
}

.container3 {
  top: 3%;
  right: 37%;
}

.container4 {
  top: $v1;
  right: $h1;
}

.container5 {
  bottom: $v2;
  right: $h2;
}

