.seat0,
.seat1,
.seat2,
.seat3,
.seat4,
.seat5 {
  position: absolute;
  // height: 90px;
  // width: 80px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  font-size: 14px;  // altered with js
}

.position {
  color: #888;
}

.cards {
  // height: 50px;
  // width: 80px;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.info {
  color: #888;
  text-wrap: nowrap;
  text-overflow: hidden;
}