.container {
  position: relative;
  border-radius: 3px;
  padding: 4px;
  position: absolute;
  display: flex;
  gap: 5px;
  background: #11111188;

  div {
    box-shadow: 0 0 1px #666;
  }

  div.pot {
    box-shadow: none;
  }
}

.pot {
  position: absolute;
  // top: calc(460px / 2) + 62px;
  // left: calc(710px / 2) - 25px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1px;
  display: flex;
  // justify-content: center;
  align-items: center;
  gap: 8px;
  // color: #bbb;
  color: #888;
}