.container {
  position: relative;
  // height: 510px;
  // width: 710px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerTable {
  // height: 350px;
  // width: 640px;
  border: 1px solid #333;
  // border-radius: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181818;
}

.correct {
  border-color: #66c24a;
}

.incorrect {
  border-color: #c43333;
}

.innerTable {
  position: relative;
  // height: 290px;
  // width: 580px;
  // border-radius: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  // font-size: 100px;
  background: #141414;
}

.logo {
  font-family: 'Amita', serif;
  color: #333;
  user-select: none;
}