.container,
.containerSelected {
  height: 45px;
  border-left: 1px solid transparent;
  border-radius: 3px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #242424;
}

.containerSelected {
  border-left: 1px solid #555;
  border-radius: 1px 3px 3px 1px;
  background-color: #202020;
}

.checkbox {
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.name {
  flex-grow: 1;
  font-size: 14px;
  color: #aaa;
  user-select: none;
}