@use '@/styles/_global_/layout';

.container {
  @include layout.rootContainer;
}

.main {
  flex-grow: 1;
  align-self: stretch;
  max-width: 2800px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
