.container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.separator {
  height: 70%;
  width: 1px;
  background-color: #555;
}


.rightMenu {
  margin-left: auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;

  button {
    min-width: 30px;
    height: 30px;
    padding: 2px 8px;
    gap: 7px;
  }
}
