.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.article {
  border-radius: clamp(3px, 0.5vw, 6px);
  padding: clamp(3px, 0.75vw, 8px);
  border: 1px solid #333;
  display: flex;
  gap: calc(2 * clamp(3px, 0.75vw, 8px));
  background-color: #202020;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.1s ease;

  &:hover {
    background-color: #242424;
  }
}

.imageContainer {
  position: relative;
  border-radius: clamp(3px, 0.5vw, 6px);
  overflow: hidden;
  min-height: max(100px, min(320px, calc(40vw - 40px)));
  min-width: max(100px, min(320px, calc(40vw - 40px)));
  // filter: sepia(50%);
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: clamp(8px, 2vw, 16px);
}

.title {
  padding-right: clamp(5px, 1.5vw, 15px);
  color: #ddd;
  font-weight: 400;
  font-size: clamp(18px, 2.5vw, 24px);
}

.abstract {
  margin-bottom: auto;
  padding-right: clamp(5px, 1.5vw, 15px);
  color: #bbb;
  font-weight: 300;
  font-size: clamp(14px, 2.1vw, 18px);
}

.bottomLine {
  display: flex;
  align-items: center;
  gap: clamp(14px, 2vw, 20px);
  color: #888;
  font-weight: 300;
  font-size: clamp(12px, 1.8vw, 15px);
}

// .date {

// }

.readTime,
.difficulty,
.bookmark {
  display: flex;
  align-items: center;
  gap: 8px;
}

.readTime,
.difficulty {
  i {
    font-size: clamp(10px, 1.5vw, 13px);
  }
}

.difficulty {
  margin-right: auto;
  border-radius: 3px;
  padding: 2px 6px;
  opacity: 0.8;

  i {
    margin-top: 1px;
  }

  &.s {
    color: #aaa;
    background: #151515;
  }
  
  &.h {
    color: #e29292;
    background: #6c3b3b;
  }
  
  &.d {
    color: #8dd6e0;
    background: #2e6067;
  }
  
  &.c {
    color: #96dea9;
    background: #3a6e48;
  }
}

